body{

    font-family: Arial,sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;

} 

header{

    background-color: #dd8f28;
    color: #4d4949 ; 
    padding: 20px;
    
}

h1{
    color:white
}

nav ul{
    list-style-type:none;
    margin: 0px;
    padding: 12px 0px;
    background-color:ivory;
}

nav ul li{
    display: inline;
    padding:12px 16px;
}

nav ul li a {
    text-decoration: none;
    color:black;
}

nav ul li:hover{
    background-color:rgb(104, 170, 247);
}

li.currentPage{
    background-color: rgb(131, 128, 127);
}

main{
    flex: 1;
    padding: 20px;
}

footer{
    background-color: rgb(59, 58, 58);
    color:white;
    padding: 20px;
    text-align: center;
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

form{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.size-select{
    display: flex;
}
label{
    display: block;
}

input[type="text"],select{
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
}
input[type="radio"]{
    margin-left: 16px;
}

input[type="submit"]{
    background-color:rgb(243, 237, 216);
    color:black;
    padding: 10px 20px;
    border:0cm;
    cursor: pointer;
}